body {
    margin: 0px;
    background-image: url("https://w0.peakpx.com/wallpaper/316/210/HD-wallpaper-modern-art-modern-digital-art.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    color: black;
}

.page-title {
    font-family: Google Sans, Arial, San-Serif, Roboto;
    font-size: 45px;
}

.page-title-main {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 100px);
    margin-left: 260px;
    margin-top: 200px;
}

.page-top {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.page-bottom {
    margin-left: 35px;
    margin-top: 0px;
}

.title-border {
    border: none;
    border-top: 2px solid black;
    width: 300px;
    margin-left: 0px;
    padding-right: 0px;
    margin-top: -34px;
}

.page-info {
    font-family: Google Sans, Arial, San-Serif, Roboto;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.art-gallery {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 500px;
    grid-template-rows: repeat(3, 100px);
    margin-left: 1400px;
}

.art-gallery-image1 {
    height: 400px;
    width: 280px;
    margin-top: -300px;
}

.art-gallery-image2 {
    height: 480px;
    width: 280px;
    margin-left: 390px;
    margin-top: -600px;
}

.art-gallery-image3 {
    height: 300px;
    width: 700px;
    margin-left: 40px;
    margin-top: -50px;
}

.art-gallery-images {
    border: 8.5px solid rgb(218, 190, 79);
    border-radius: 4.6741px;
}

.main-to-footer {
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 220px;
}

.main-footer {}