.border {
    width: 0px;
    height: 100vh;
    background-color: black;
    border: none;
    border-radius: 1px;
    padding-left: 1px;
    margin-left: 50px;
}

.other-pages {
    display: flex;
}

body {
    font-family: Google Sans, san-serif, Arial, monospace;
}

.redirects-other {
    margin-left: 20px;
}

.nav-bar {
    width: 100px;
    height: 1px;
}